.container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    margin-bottom: 32px;

}


@media screen and (max-width: 992px) {
    .portfolios {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px;
        margin-bottom: 100px;
    
    }
}

@media screen and (max-width: 576px) {
    .portfolios {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 30px;
        margin-bottom: 100px;
    
    }
}

