:root {
    --dark-main-color: #111111;
    --dark-second-color: #000000;
    --light-main-color: #ffffff;
    --light-second-color: #ededed;
    --yellow-color: #ffb400;
    --green-color: #72b626;
    --tablet-screen-width: 1024px;
    --desktop-screen-width: 1120px;
    --border-round: 999px;
}