.container {
    padding: 0 90px;
}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 15px;
    }
}

:global(.theme-dark) .container {
    background-color: var(--dark-main-color);
}

:global(.theme-light) .container {
    background-color: var(--light-main-color);

}